* {
    font-family: "Roboto";
    font-style: normal;
}

button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    padding: 7px 35px;
}


/* MAIN HEADER */

.main_header {
    background: url("/assets/main_header.png") no-repeat;
    background-size: cover;
    background-color: #9b6909;
    height: 100vh;
    margin-bottom: 6%;
    border-bottom: 5px solid #ffa800;
}

.logo {
    color: #e5e5e5;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.main_header .logo,
.ticket_header .logo {
    padding-left: 185px;
    height: 49px;
    background: rgba(0, 0, 0, 0.6);
}

.header_menu {
    width: 100%;
    height: 70px;
    background-color: #292929;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 12%;
}

.header_menu a {
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    margin: 21px;
    color: #ffffff;
    cursor: pointer;
}

.header_menu a:hover {
    text-decoration: none;
}

.header_text {
    font-weight: 200;
    font-size: 52px;
    line-height: 58px;
    color: #ffffff;
    position: absolute;
    top: 61%;
    left: 17%;
}


/* ABOUT */

.main_about {
    margin: 7% 20%;
}

h3 {
    text-transform: uppercase;
    padding-bottom: 15px;
}

.about_block {
    border-left: 5px solid #ffa800;
    padding-left: 20px;
}


/* HOW IT WORKS */

.main_how {
    background: url("/assets/how_it_works.png") no-repeat;
    background-size: cover;
    background-color: #ffa800;
    margin-bottom: 4%;
}

.how_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 12% 3% 12%;
}

.main_how h3 {
    color: #ffffff;
}

.how_blocks {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.how__block {
    text-align: center;
    width: 150px;
}

.how__block:nth-child(even) {
    margin: 0 8%;
}

.how__block img {
    width: 100px;
    height: 100px;
}

.how__block p {
    color: #e5e5e5;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}


/* REVIEWS */

.main_reviews {
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

.main_reviews h3 {
    padding-bottom: 45px;
}

.reviews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.review {
    width: 40%;
    display: flex;
    align-items: center;
}

.review img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.review_text {
    margin-left: 20px;
}

.review p {
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.review p sub,
.review p b {
    font-size: 22px;
}

.controls {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: flex-end;
}

.control {
    border-radius: 50%;
    width: 17px;
    background: #e5e5e5;
    height: 17px;
    margin: 5px;
}

.controls .active {
    background: #c4c4c4;
}


/* FOOTER */

.footer {
    background: #2d2b2f;
    color: #ffffff;
}

.footer h5 {
    margin-bottom: 15px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.contact {
    width: 170px;
    display: flex;
    align-items: baseline;
}

.contact p {
    font-size: 16px;
}

.contact img {
    width: 17px;
    margin-right: 16px;
}

.subscription_form p {
    margin-bottom: 5px;
}

.subscription_form input {
    width: 250px;
    height: 40px;
    margin-right: 15px;
}

.subscription_form button {
    padding: 5px 35px;
}

.subscription_social {
    margin-top: 30px;
}

.social_icons img:nth-child(even) {
    margin: 0 30px;
}

.footer_bottom {
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12%;
}

.footer_bottom img {
    cursor: pointer;
}


/* CHOOSE TICKETS (MAIN PAGE) */

.header_tickets {
    /* width: 449px;
    height: 356px; */
    width: 485px;
    height: 411px;
    background: rgba(41, 41, 41, 0.8);
    position: absolute;
    bottom: 5px;
    right: 16%;
    padding-top: 40px;
}

.header_tickets h2 {
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    margin: 25px 0 8px 25px;
}

.autocomplete_city_names,
.datePicker_tickets_date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 35px 0;
}

.autocomplete_city_names {
    margin: 0 16px 35px 16px;
}

.autocomplete_city_names div input,
.datePicker_tickets_date div div input {
    padding: 13px;
    width: 195px;
    border: none;
    background: #ffffff;
    border-radius: 3px;
}

.autocomplete_city_names div input:focus,
.datePicker_tickets_date div div input:focus {
    outline: none;
}

.autocomplete_city_names div {
    max-height: 200px !important;
}

.autocomplete_city_names div div {
    z-index: 100;
    background-color: white;
    font-size: 16px;
}

.changeCity {
    font-size: 21px;
    cursor: pointer;
}

.react-datepicker-popper {
    top: 200px !important;
}

.react-datepicker__triangle {
    display: none !important;
}

.findTickets {
    float: right;
    margin-right: 24px;
    padding: 17px 36px;
}

.button_orange {
    background: #ffa800;
    border-radius: 5px;
    color: #292929;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
}

.button_orange:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_orange:active {
    background: #e5e5e5;
    color: #ffa800;
    border: 1px solid #ffa800;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_orange:hover,
.button_orange:active,
.button_orange:focus {
    outline: none;
}


/* TICKET PAGE */

.ticket_header {
    background: url("/assets/ticket_header.png") no-repeat;
    height: 415px;
    background-size: cover;
    margin-bottom: 6%;
}

.ticket_header .header_tickets {
    width: 70%;
    height: 230px;
    top: 160px;
    left: 15%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.ticket_header .autocomplete_city_names {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 25px 35px 25px;
}

.ticket_header .datePicker_tickets_date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 35px 10px;
}

.ticket_header .react-datepicker-wrapper {
    margin-right: 20px;
}

.ticket_header .autocomplete_city_names div {
    margin: 0 5px;
}

.ticket_header .header_tickets h2 {
    margin: 25px 0 8px 31px;
}

.ticket_header .header_tickets .date {
    margin-left: 13px;
}

.ticket_header .findTickets {
    margin-left: 74.7%;
    margin-bottom: 20px;
}

.ticket_header .react-datepicker-popper {
    top: -6px !important;
}


/* TICKET CREATE LINE */

.ticket_line {
    display: flex;
    background-color: #3e3c41;
    color: white;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.ticket_line__block {
    display: flex;
    align-items: center;
    position: relative;
}

.done {
    background: #ffa800;
}

.line_number {
    margin-right: 15px;
}

.line_arrow {
    position: absolute;
    right: -60px;
    height: 80px;
}

.ticket_line__block p {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
}

.first {
    z-index: 0;
}

.second {
    z-index: 10;
}

.third {
    z-index: 20;
}

.fourth {
    z-index: 30;
}