* {
    font-family: "Roboto";
    font-style: normal;
}

*,
*:hover,
*:active,
*:focus,
*:active:focus,
button:focus {
    outline: none;
}

button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    padding: 7px 35px;
}

.hidden {
    display: none;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: rgba(255, 168, 0, 0.31) !important;
    color: black !important;
    border: 2px solid #ffa800;
}

.preloader {
    display: flex;
    background-color: #3e3c41;
    justify-content: center;
}

select {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    margin: 0;
}


/* MAIN HEADER */

.main_header {
    background: url("/assets/main_header.png") no-repeat;
    background-size: cover;
    background-color: #9b6909;
    height: 100vh;
    margin-bottom: 6%;
    border-bottom: 5px solid #ffa800;
}

.logo {
    color: #e5e5e5;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.main_header .logo,
.ticket_header .logo {
    padding-left: 185px;
    height: 49px;
    background: rgba(0, 0, 0, 0.6);
}

.header_menu {
    width: 100%;
    height: 70px;
    background-color: #292929;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 12%;
}

.header_menu a {
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    margin: 21px;
    color: #ffffff;
    cursor: pointer;
}

.header_menu a:hover {
    text-decoration: none;
}

.header_text {
    font-weight: 200;
    font-size: 52px;
    line-height: 58px;
    color: #ffffff;
    position: absolute;
    top: 61%;
    left: 17%;
}


/* ABOUT */

.main_about {
    margin: 7% 20%;
}

h3 {
    text-transform: uppercase;
    padding-bottom: 15px;
}

.about_block {
    border-left: 5px solid #ffa800;
    padding-left: 20px;
}


/* HOW IT WORKS */

.main_how {
    background: url("/assets/how_it_works.png") no-repeat;
    background-size: cover;
    background-color: #ffa800;
    margin-bottom: 4%;
}

.how_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 12% 3% 12%;
}

.main_how h3 {
    color: #ffffff;
}

.how_blocks {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.how__block {
    text-align: center;
    width: 150px;
}

.how__block:nth-child(even) {
    margin: 0 8%;
}

.how__block img {
    width: 100px;
    height: 100px;
}

.how__block p {
    color: #e5e5e5;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}


/* REVIEWS */

.main_reviews {
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

.main_reviews h3 {
    padding-bottom: 45px;
}

.reviews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.review {
    width: 40%;
    display: flex;
    align-items: center;
}

.review img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.review_text {
    margin-left: 20px;
}

.review p {
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.review p sub,
.review p b {
    font-size: 22px;
}

.controls {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: flex-end;
}

.control {
    border-radius: 50%;
    width: 17px;
    background: #e5e5e5;
    height: 17px;
    margin: 5px;
}

.controls .active {
    background: #c4c4c4;
}


/* FOOTER */

.footer {
    background: #2d2b2f;
    color: #ffffff;
}

.footer h5 {
    margin-bottom: 15px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.contact {
    width: 170px;
    display: flex;
    align-items: baseline;
}

.contact p {
    font-size: 16px;
}

.contact img {
    width: 17px;
    margin-right: 16px;
}

.subscription_form p {
    margin-bottom: 5px;
}

.subscription_form input {
    width: 250px;
    height: 40px;
    margin-right: 15px;
}

.subscription_form button {
    padding: 5px 35px;
}

.subscription_social {
    margin-top: 30px;
}

.social_icons img:nth-child(even) {
    margin: 0 30px;
}

.footer_bottom {
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12%;
}

.footer_bottom img {
    cursor: pointer;
}


/* CHOOSE TICKETS (MAIN PAGE) */

.header_tickets {
    /* width: 449px;
    height: 356px; */
    width: 485px;
    height: 411px;
    background: rgba(41, 41, 41, 0.8);
    position: absolute;
    bottom: 5px;
    right: 16%;
    padding-top: 40px;
}

.header_tickets h2 {
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    margin: 25px 0 8px 25px;
}

.autocomplete_city_names,
.datePicker_tickets_date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 35px 0;
}

.autocomplete_city_names {
    margin: 0 16px 35px 16px;
}

.autocomplete_city_names div input,
.datePicker_tickets_date div div input {
    padding: 13px;
    width: 195px;
    border: none;
    background: #ffffff;
    border-radius: 3px;
}

.autocomplete_city_names div input:focus,
.datePicker_tickets_date div div input:focus {
    outline: none;
}

.autocomplete_city_names div {
    max-height: 200px !important;
}

.autocomplete_city_names div div {
    z-index: 100;
    background-color: white;
    font-size: 16px;
}

.changeCity {
    font-size: 21px;
    cursor: pointer;
}

.header_tickets .react-datepicker-popper {
    top: 200px !important;
}

.react-datepicker__triangle {
    display: none !important;
}

.findTickets {
    float: right;
    margin-right: 24px;
    padding: 17px 36px;
}

.button_orange {
    background: #ffa800;
    border-radius: 5px;
    color: #292929;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
}

.button_orange:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_orange:active {
    background: #e5e5e5;
    color: #ffa800;
    border: 1px solid #ffa800;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_orange:hover,
.button_orange:active,
.button_orange:focus {
    outline: none;
}


/* TICKET PAGE */

.ticket_header {
    background: url("/assets/ticket_header.png") no-repeat;
    height: 415px;
    background-size: cover;
}

.ticket_header .header_tickets {
    width: 70%;
    height: 230px;
    top: 160px;
    left: 15%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.ticket_header .autocomplete_city_names {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 25px 35px 25px;
}

.ticket_header .datePicker_tickets_date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 35px 10px;
}

.ticket_header .react-datepicker-wrapper {
    margin-right: 20px;
}

.ticket_header .autocomplete_city_names div {
    margin: 0 5px;
}

.ticket_header .header_tickets h2 {
    margin: 25px 0 8px 31px;
}

.ticket_header .header_tickets .date {
    margin-left: 13px;
}

.ticket_header .findTickets {
    margin-left: 74.7%;
    margin-bottom: 20px;
}

.ticket_header .react-datepicker-popper {
    top: -6px !important;
}


/* TICKET CREATE LINE */

.ticket_line {
    display: flex;
    background-color: #3e3c41;
    color: white;
    justify-content: space-around;
    height: 82px;
    align-items: center;
}

.done {
    background: #ffa800;
}

.line_number {
    margin-right: 15px;
}

.ticket_line__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100% / 4);
    height: 100%;
    /* cursor: pointer; */
}

.ticket_line__block p {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
}

.second,
.third {
    margin-right: -15px;
}

.second,
.third,
.fourth {
    margin-left: 30px;
}

.fourth {
    margin-right: 70px;
}


/* ARROW */

.ticket_line__block::after {
    content: "";
    position: absolute;
    border: 41px solid;
    border-color: transparent transparent transparent #3e3c41;
    top: 0;
    left: 99.5%;
}

.third::after {
    left: 97.5%;
}

.done::after {
    border-color: transparent transparent transparent #ffa800;
}

.fourth::after {
    border: none;
}

.arrow-2 {
    height: 41px;
    width: 0;
    position: relative;
    margin: 20px 0;
}

.arrow-2-top,
.arrow-2-bottom {
    height: 1px;
    left: 52px;
    position: absolute;
    top: 20px;
    width: 57px;
}

.arrow-2-top {
    top: 19px;
}

.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-2-top::after,
.arrow-2-bottom::after {
    background: #ffffff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


/* TICKETS_FILTERS */

.ticket_filter {
    background-color: #3e3c41;
    width: 300px;
    height: 100%;
    color: #ffffff;
    margin-left: 100px;
    margin-bottom: 50px;
}

.filter_block {
    border-bottom: 1px solid white;
    padding: 40px 30px 25px 30px;
}

.ticket_filter__date div div input {
    width: 230px;
}

.ticket_filter__date .date_h4 {
    margin-top: 30px;
}

.ticket_filter h4 {
    font-weight: normal;
    font-size: 22px;
}

.ticket_filter__filters .switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter__text {
    display: flex;
}

.ticket_filter__filters .switch p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 17px;
}

.ticket_filter__filters .switch img {
    width: 18px;
}


/* RangeSlider */

.rangeClass {
    height: 19px;
    background: #3e3c41;
    border-radius: 8px;
    width: 240px;
    border: 1px solid #c4c4c4;
}

.rangeClass__handles {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #ffffff;
}

.filter_cost,
.current {
    display: flex;
    justify-content: space-between;
}

.filter_cost p,
.current p {
    margin: 3px 0;
}


/* Destination filter */

.ticket_filter_header {
    display: flex;
    justify-content: space-between;
}

.ticket_filter_header .text {
    display: flex;
    align-items: flex-start;
}

.text h4 {
    margin-left: 10px;
}

.expand {
    cursor: pointer;
}

.ticket_filter_main {
    margin: 35px 0 15px;
}

.arrival_time {
    display: flex;
    justify-content: flex-end;
}

.departure {
    margin-bottom: 25px;
}


/* TICKET CARD */

.tickets_main {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.ticket_cards {
    max-width: 830px;
}

.ticket_card {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 830px;
    height: 300px;
    display: flex;
    margin: 30px 0;
}

.ticket_left {
    background: #e4e0e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 25px;
}

.ticket_main {
    width: 50%;
    padding: 20px 10px;
}

.ticket_right {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-left: 1px dashed #e5e5e5;
    padding: 10px;
}

.train_number {
    color: #3e3c41;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 8px;
}

.train_start_city {
    color: #928f94;
    font-size: 15px;
}

.train_path {
    font-size: 15px;
    text-transform: capitalize;
}

.train_there,
.train_back {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
    text-transform: capitalize;
}

.train__time {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.train__station {
    color: #928f94;
    font-size: 15px;
    text-transform: initial;
}

.train__arrow {
    text-align: center;
}

.arrow_time {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 21px;
}

.ticket_seat_variants {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    justify-items: self-end;
    width: 100%;
}

.seat_type {
    margin-right: 10px;
}

.seat_quantity {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffa800;
}

.seat_price {
    display: flex;
    align-items: baseline;
}

.seat_price p {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2d2b2f;
    margin: 0;
}

.chooseSeat {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
}


/* tickets_top_filters */

.tickets_top_filters {
    color: #928f94;
}

.find_items {
    float: left;
}

.filters_top_right {
    display: flex;
    justify-content: flex-end;
}

.sort_items select {
    border: none;
    background-color: rgb(251, 249, 249);
}

.sort_items select:hover {
    cursor: pointer;
}

.sort_items .select::-ms-expand {
    display: none;
}

.show_items {
    display: contents;
}

.show_items .show_items__number {
    cursor: pointer;
}

.show_items p {
    margin: 0 4px;
}

.active {
    color: black;
}


/* PAGINATION */

.pagination_block {
    margin: 10px 0 50px;
    display: flex;
    justify-content: center;
}

.btn {
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    padding: 10px;
    margin: 0 5px;
}

.button_page:hover {
    border: 2px solid #ffa800;
    color: #ffa800;
}

.button_page {
    color: #928f94;
}

.active_btn,
.active_btn:hover {
    color: #ffffff;
    background: #ffa800;
    border-color: #ffa800;
}


/* TRAIN TICKET */

.ticket_top-buttons {
    display: flex;
    margin-bottom: 30px;
}

.ticket_top-buttons img {
    margin-right: 10px;
}

.chooseOther {
    border: 1px solid #292929;
    color: #292929;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 20px;
}

.ticket_top-info {
    background: #f7f6f6;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.ticket_top-info .train_icon {
    padding: 0 10px;
}

.info_train {
    padding: 0 20px;
}

.ticket_top-info .train_there {
    padding: 0 35px;
}

.info_train .train_number {
    margin: 8px 0;
    text-align: left;
}

.ticket_top-info .train_start,
.ticket_top-info .train__end {
    padding: 0 25px;
}

.ticket_top-info .train__arrow {
    padding: 24px 40px;
}

.info_time {
    display: flex;
    align-items: center;
    width: 120px;
}

.info_time p {
    margin: 0 10px;
}

.ticket_count h4 {
    padding: 20px 0;
}

.ticket_count-blocks {
    display: flex;
}

.ticket_count-block {
    width: 33%;
    padding: 20px;
}

.ticket_count-block:nth-child(1) {
    background: #f7f6f6;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.ticket_count-block:nth-child(2) {
    border: 1px solid rgba(255, 168, 0, 0.79);
}

.ticket_count-block select {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #928f94;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}

.ticket_count-block:nth-child(1) p {
    margin: 28px 20px 0 0;
    color: #000000;
}

.ticket_count-block:nth-child(2) p {
    margin: 28px 20px 0 0;
    color: #928f94;
}

.ticket_type {
    margin: 28px 0;
    border-top: 1px dashed #c4c4c4;
}

.ticket_type h4 {
    margin: 30px 20px;
}

.ticekt_type-blocks {
    display: flex;
    justify-content: space-around;
}

.type_block div svg {
    width: 100px;
    height: 75px;
}

.type_block-text {
    cursor: pointer;
    text-align: center;
    color: #928f94;
    font-size: 21px;
    margin: 10px 0;
}

.type_block:hover .type_block-text,
.ticekt_type-blocks .active .type_block-text {
    color: #ffa800;
}

.type_block:hover div svg path,
.ticekt_type-blocks .active div svg path {
    fill: #ffa800;
}

.ticket_footer-head {
    background: rgba(255, 168, 0, 0.44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.ticket_footer-head div {
    display: flex;
}

.ticket_footer-head div .active {
    color: white;
    font-weight: bold;
}

.ticket_footer-head div .non-active {
    color: black;
    font-weight: bold;
}

.ticket_footer-head div p {
    margin: 0 5px;
}

.ticket_footer-main {
    display: flex;
    flex-wrap: wrap;
}

.chosen_block {
    width: 17%;
    background: #FFD98F;
    padding: 20px;
    line-height: 28px;
    color: #292929;
    font-size: 24px;
}

.chosen_block p:nth-child(1) {
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
}

.seats_and_cost {
    display: contents;
}

.seats {
    padding: 40px;
    width: 200px;
}

.head {
    color: #928F94;
}

.seat {
    font-size: 20px;
}

.place_total {
    margin-left: 8px;
    color: black;
}

.place_count {
    margin-left: 8px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.place_count img {
    margin-left: 7px;
}

.seats div,
.prices div {
    display: flex;
    margin: 10px 0;
}

.prices {
    padding: 40px;
}

.services {
    padding: 40px;
}

.services p {
    color: #928F94;
    margin: 0 12px 15px;
}

.services_icons {
    display: flex;
}

.services_icons button {
    margin: 0 8px;
    cursor: pointer;
    padding: 0;
}

.services_icons button svg {
    border: 1px solid #292929;
    border-radius: 5px;
    padding: 4px;
    width: 30px;
    height: 30px;
}

.services_icons button:hover svg {
    background: #FFA800;
}

.services_icons .choosen svg {
    border: none;
    background: #FDB935;
}

.services_icons .choosen svg path {
    fill: white;
}

.services_icons .non-active {
    cursor: auto;
}

.services_icons .non-active:hover svg {
    background: #FCDC9D;
}

.services_icons .non-active svg {
    background: #FCDC9D;
    border: none;
}

.services_icons .non-active svg path {
    fill: #928F94;
}

.image_p {
    width: 200px;
    background: #F3F3F3;
    border-radius: 5px;
    text-align: center;
    margin-left: 75%;
    padding: 10px;
}

.train_picture {
    width: 830px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}